@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Varela&display=swap");

@import "tailwindcss";

:root {
  /* Dark theme colors */
  --dark-bg-color: #111113;
  --dark-primary-text-color: #fff;
  --dark-secondary-text-color: #2f53d7;
  --dark-ternary-text-color: #8a8a8a;

  /* Light theme colors */
}

body {
  background-color: var(--dark-bg-color);
  color: var(--dark-primary-text-color);
  font-family: "Istok Web", "Varela", sans-serif;
}

.font-istok-web {
  font-family: "Istok Web", sans-serif;
}

.font-varela {
  font-family: "Varela", sans-serif;
}
